<div *ngFor="let educationModel of educationModels">

  <mat-card class="full-width" appearance="outline">
    <h2>Primary school</h2>
    <h3>{{educationModel.primary_school}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Primary school start year</h2>
    <h3>{{educationModel.primary_school_start_year}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Primary school end year</h2>
    <h3>{{educationModel.primary_school_end_year}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>High school</h2>
    <h3>{{educationModel.high_school}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>High school start year</h2>
    <h3>{{educationModel.high_school_start_year}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>High school end year</h2>
    <h3>{{educationModel.high_school_end_year}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>University</h2>
    <h3>{{educationModel.university}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>University start year</h2>
    <h3>{{educationModel.university_start_year}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>University end year</h2>
    <h3>{{educationModel.university_end_year}}</h3>
  </mat-card>
</div>
