<div *ngFor="let about of abouts">
  <mat-card class="full-width" appearance="outline">
    <h2>First name</h2>
    <h3>{{about.first_name}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Last name</h2>
    <h3>{{about.last_name}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Date of birth</h2>
    <h3>{{about.date_of_birth}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Email</h2>
    <h3>{{about.email}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Number of projects completed</h2>
    <h3>{{about.numberOfProjectsCompleted}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Years of experience</h2>
    <h3>{{about.yearsOfExperience}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Description</h2>
    <h3>{{about.description}}</h3>
  </mat-card>
</div>
