<div *ngFor="let about of abouts">
  <mat-card class="full-width" appearance="outline">
    <h2>First name</h2>
    <h3>{{about.first_name}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Last name</h2>
    <h3>{{about.last_name}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Email</h2>
    <h3>{{about.email}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Number of projects completed</h2>
    <h3>{{about.numberOfProjectsCompleted}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Years of experience</h2>
    <h3>{{about.yearsOfExperience}}</h3>
  </mat-card>
  <mat-card class="full-width" appearance="outline">
    <h2>Description</h2>
    <h3>{{about.description}}</h3>
  </mat-card>
  <mat-card-title> Edit your information</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="submit(about.id)" >
    <mat-card>
      <mat-form-field>
        <h2>First Name</h2>
        <input type="text" matInput formControlName="first_name">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <h2>Last Name</h2>
        <input type="text" matInput formControlName="last_name">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <h2>Email</h2>
        <input type="text" matInput formControlName="email">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <h2>Number of projects completed</h2>
        <input type="number" matInput formControlName="numberOfProjectsCompleted">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <h2>Years of experience</h2>
        <input type="number" matInput formControlName="yearsOfExperience">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field>
        <h2>Description</h2>
        <textarea type="text" matInput formControlName="description"></textarea>
      </mat-form-field>
    </mat-card>
    <div>
      <button mat-raised-button class="button" [disabled]="form.invalid" type="submit">Update</button>
    </div>
  </form>
</div>
