<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span [routerLink]="home">Ismar Becirspahic</span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="about">About
    </button>
    <button mat-button [routerLink]="languages">Languages
    </button>
    <button mat-button [routerLink]="experience">Experience
    </button>
    <button mat-button [routerLink]="education">Education
    </button>
    <button mat-button [routerLink]="skills">Skills
    </button>
    <button mat-button [routerLink]="hobbies">Hobbies
    </button>
  </mat-toolbar-row>
</mat-toolbar>
